@font-face {
	font-family: RaghuMalayalam;
	src: url(../fonts/RaghuMalayalam.ttf);
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: url("../images/.jpg")no-repeat;
	background-size: 100vw 100vh;
	font-family: RaghuMalayalam, Helvetica;
	overflow: hidden;
	font-size: 16px;
}

#volume_icon {
	background-image: url("../images/volume.png");
	background-size: 100% 100%;
	cursor: pointer;
	height: 60%;
	position: absolute;
	left: 7%;
	width: 5%;
	top: 60%;
	z-index: 1;
}

#lang_selection {
	width: 25%;
	margin-left: 10%;
}

.le_option,
.level,
.lan {}

#lang_selection .le_option b {
	font-size: 21px;
}

.lan {
	font-size: 12px;
	font-weight: bold;
	margin: 2px;
	padding: 7px 6px;
}

#main {
	position: relative;
	bottom: 0;
	height: 97%;
	left: 0;
	margin: auto;
	padding: 0;
	right: 0;
	top: 0;
	width: 100vw;
	background-size: 100% 100%;
	background-position: center;
	min-width: 600px;
	min-height: 400px;
	border-radius: 25vh;
}

#main header {
	color: black;
	font-size: 4vh;
	font-weight: bold;
	height: 9vh;
	margin-bottom: 5vh;
	min-height: 5vh;
	padding-top: 3vh;
	border: none;
	background: none;
}

#listing_page {
	width: 43%;
	margin: auto;
	padding: 15px;
	text-align: center;
}

#listing_page h1 {
	color: #00bcb6;
}

#quesarea {
	font-size: 4vh;
	font-weight: bold;
	height: 10%;
	margin: auto;
	text-align: center;
}

#button {
	height: 50%;
	left: 0;
	min-width: 335px;
	position: relative;
	top: 3vh;
	width: 25%;
	margin: auto;
	z-index: 100;
}

#button .btn {
	margin: 10% 0%;
	font-weight: bold;
	cursor: pointer;
	z-index: 100;
}

.btn-info {
	background: url("../images/button-red.png");
	width: 40%;
	height: 65px;
	border: 0px;
	max-width: 138px;
}

.btn-info:hover {
	background: url("../images/button-hover-red.png")transparent;
}

.btn-success:hover {
	background: transparent url("../images/button-hover-green.png");
}

.btn-success {
	background: url("../images/button-green.png");
	width: 40%;
	height: 65px;
	border: 0px;
	max-width: 138px;
}

.le_option b {
	//float: left;
	font-size: 2.5vh;
	padding: 2vh;
}

.le_option {
	height: 41%;
	text-align: center;
}

#button .alert {
	padding: 3px 8px;
}

.innercontainer {
	height: 71vh;
	min-height: 300px;
}

.game {
	width: 95%;
	margin: auto;
	height: 80%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#listing_page {
	height: 100%;
}

.questaudio {
	cursor: pointer;
}


/********************************************/

.resize {
	transform: scale(0, 0) translate(0, 50px);
	-webkit-transform: scale(0, 0)translate(0, 50px);
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.translate {
	-ms-transform: translate(0, 100px);
	/* IE 9 */
	-webkit-transform: translate(0, 100px);
	/* Safari */
	transform: translate(0, 100px);
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

#quiz-area {
	width: 60%;
	height: 45vh;
	margin: auto;
	text-align: center;
	padding-top: 15px;
}

.question-topic-label {
	color: #00bcb6;
	font-size: 1.5em;
	border-bottom: 1px solid #a7e3e0;
	width: 60%;
	margin: auto;
}

.question-text {
	font-size: 1.5em;
	color: #0e4873;
	font-weight: 600;
	padding: 3%;
}

.pill-button {
	display: inline-block;
	margin: 8px 4px;
	padding: 12px 18px 8px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	background-color: #003f69;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .05em;
	font-weight: 600;
	cursor: pointer;
	line-height: 1em;
	-webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.choice:hover {
	background-color: #00bcb6;
}

.chosen {
	background-color: #409cd0;
}

.centerModal .modal-header {
	text-align: left;
}

.centerModal .modal-body {
	text-align: left;
}

#close-btn {
	position: absolute;
	top: 5vh;
	right: 5px;
	background: none;
	color: black;
	border: none;
	font-size: 3vh;
}

.modal-header {
	background: #3a87ad;
}

.modal-dialog {
	width: 28%;
	min-width: 340px;
	margin: 10px auto auto auto;
}


/********************************************/

.next-btn,
.prev-btn {
	margin-top: 10%;
}

#vol {
	font-size: 10vh;
}

.question-topic-label>img {
	min-width: 75px;
	width: 15%;
	padding: 10px 15px;
	vertical-align: bottom;
}

#main footer {
	color: black;
	font-size: 5vh;
	height: 12vh;
	margin-bottom: 0;
	margin-top: 3vh;
	min-height: 5vh;
	padding-top: 1.5vh;
	border: none;
	background: none;
	width: 90%;
	min-width: 600px;
	margin: auto;
	z-index: 1;
}

#home {
	position: absolute;
	top: 0px;
	left: 2%;
}

#home img {
	width: 3vw;
	min-width: 30px;
	padding: 0px;
}

div.timer,
div.time {
	bottom: 0;
	color: black;
	height: 70px;
	left: 0;
	margin: auto;
	right: 0;
	width: 150px;
}

#questionscreen {
	position: absolute;
	left: 100px;
	top: 3vh;
}

.label-success {
	background-color: #a4c548;
}

.modal-header {
	background-color: #5d5b5b;
	;
}

#quit {
	width: 5%;
	padding: 1%;
	float: left;
}

#quit img {
	width: 75%;
	min-width: 30px;
	cursor: pointer;
}


/***************wave**********/

@keyframes move_wave {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}

.waveWrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.waveWrapperInner {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	bottom: -1px;
}

.bgTop {
	// z-index: 15;
	opacity: 0.5;
}

.bgMiddle {
	// z-index: 10;
	opacity: 0.75;
}

.bgBottom {
	//z-index: 5;
}

.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}

.waveTop {
	background-size: 50% 200px;
}

.waveAnimation .waveTop {
	animation: move-wave 1s;
	-webkit-animation: move-wave 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.waveMiddle {
	background-size: 50% 220px;
}

.waveAnimation .waveMiddle {
	animation: move_wave 10s linear infinite;
}

.waveBottom {
	background-size: 50% 200px;
}

.waveAnimation .waveBottom {
	animation: move_wave 12s linear infinite;
}


