@font-face {
	font-family: RaghuMalayalam;
	src: url(../fonts/RaghuMalayalam.ttf);
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: url("../images/.jpg")no-repeat;
	background-size: 100vw 100vh;
	font-family: RaghuMalayalam, Helvetica;
	overflow: hidden;
	font-size: 16px;
}

#main {
	position: relative;
	bottom: 0;
	height: 70vh;
	left: 0;
	margin: auto;
	
	right: 0;
	top: 0;
	width: 100vw;
	background-size: 100% 100%;
	background-position: center;
	min-width: 350px;
	min-height: 350px;
	border-radius: 25vh;
}

header {
	color: black;
	font-size: 4vh;
	font-weight: bold;
	min-height: 60px;
	margin-bottom: 5vh;
	min-height: 5vh;
	padding-top: 3vh;
	border: none;
	background: #8fd6de;
}



#listing_page h1 {
	color: #00bcb6;
}

#quesarea {
	font-size: 4vh;
	font-weight: bold;
	height: 10%;
	margin: auto;
	text-align: center;
}

#button {
	
	min-width: 335px;
	width: 25%;
	margin: 3vh auto 0% auto;
	z-index: 100;
}

#button .btn {
	font-weight: bold;
	cursor: pointer;
	z-index: 100;
}

.btn-info {
	background: url("../images/button-red.png");
	width: 40%;
	height: 65px;
	border: 0px;
	max-width: 138px;
}

.btn-info:hover {
	background: url("../images/button-hover-red.png")transparent;
}

#listing_page .btn-success:hover {
	background: transparent url("../images/button-hover-green.png");
}

#listing_page .btn-success {
	background: url("../images/button-green.png");
	width: 40%;
	height: 65px;
	border: 0px;
	max-width: 138px;
}

.le_option b {
	//float: left;
	font-size: 2.5vh;
	padding: 2vh;
}

.le_option {
	height: 41%;
	text-align: center;
}

#button .alert {
	padding: 3px 8px;
}

.innercontainer {
	height: 60vh;
	min-height: 300px;
}


#listing_page {
	height: 100%;
	z-index:100;
}


/********************************************/

#quiz-area {
	height: 90vh;
	margin: auto;
	width:60%;
}
#choice-set{
	text-align:center;
}
#question{
	width:100%;
}
.question-topic-label {
	color: #00bcb6;
	font-size: 1.5em;
	border-bottom: 1px solid #a7e3e0;
	width: 100%;
	margin: auto;
}

#question-text {
	font-size: 1.5em;
	color: #0e4873;
	font-weight: 600;
	padding: 3%;
}
.choice > div{
	background-color: #003f69;
}
.pill-button {
	display: inline-block;
	margin: 8px 4px;
	padding: 12px 18px 8px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .05em;
	font-weight: 600;
	cursor: pointer;
	line-height: 1em;
	-webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.choice:hover {
	  transform: scale(1.2); 
	  transition-duration:0.5s;
	  cursor:pointer;
}

.chosen {
	background-color: #409cd0;
}

/********************************************/
.choice {

}
.choice img{
	width:95%;
}


.next-btn,
.prev-btn {
	margin-top: 10%;
	z-index:1000;
}


#vol {
	font-size: 10vh;
}
#result {
	margin:0% 2%;
}

.question-topic-label>img {
	min-width: 75px;
	width: 15%;
	padding: 10px 15px;
	vertical-align: bottom;
}

footer {
	color: black;
	font-size: 5vh;
	height: 12vh;
	margin-bottom: 0;
	margin-top: 3vh;
	min-height: 5vh;
	padding-top: 0vh;
	border: none;
	background: none;
	width: 90%;
	min-width: 600px;
	margin:13vh auto 0 auto;
	z-index: 1;
}

#home {
	position: absolute;
	top: 0px;
	
}

#home img {
	    width: 50%;
    min-width: 45px;
    padding: 0px;

}
#home.btn{
padding:0px;
}

div.timer,
div.time {
	bottom: 0;
	color: black;
	height: 70px;
	left: 0;
	margin: auto;
	right: 0;
	width: 150px;
}

#questionscreen {
	position: absolute;
	left: 100px;
	top: 3vh;
}

.label-success {
	background-color: #a4c548;
}

.modal-header {
	background-color: #5d5b5b;
	;
}

#quit {
	width: 5%;
	padding: 1%;
	float: left;
}

#quit img {
	width: 75%;
	min-width: 30px;
	cursor: pointer;
}


/***************wave**********/

@keyframes move_wave {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}

.waveWrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.waveWrapperInner {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	bottom: -1px;
}

.bgTop {
	// z-index: 15;
	opacity: 0.5;
}

.bgMiddle {
	// z-index: 10;
	opacity: 0.75;
}

.bgBottom {
	//z-index: 5;
}

.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}

.waveTop {
	background-size: 50% 215px;
}

.waveAnimation .waveTop {
	animation: move-wave 100s linear infinite;
	
}

.waveMiddle {
	background-size: 50% 230px;
}

.waveAnimation .waveMiddle {
	animation: move_wave 6s linear infinite;
}

.waveBottom {
	background-size: 50% 250px;
}

.waveAnimation .waveBottom {
	animation: move_wave 3s linear infinite;
}
/***********@media-screen****************************/

 @media screen and (max-device-width: 800px){
        #listing_page h1{
      	margin-top:0px;
      	font-size: 2em;
      }
      #quesarea{
      	font-size:3.2vh;
      }
        #button{
      	top:0px;
      }
      #home img{
      margin-left:-50%;
      }
     header{
     	margin-bottom:10px;
     }
     footer{
     margin-top:12vh;
     }
     #quiz-area{
      	width:90%;
      	margin:auto;
      }
   
    }


